/**
 * wcj-admin.
 *
 * @version 2.5.3
 * @since   2.5.3
 */

img.wcj-rocket-icon:hover {
	box-shadow: 0 1px 0 #C43F15;
}
input#wcj_pdf_invoicing_enabled {
    visibility: hidden;
    transform: translateX(-100%);
    position: absolute;
}